<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marathon.project0.campusrecruitmentsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AdminAuth"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.auth.CompanyAuth"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.auth.StudentsAuth"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.dashboards.AdminDashboard"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dashboards.StudentsDashboard"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dashboards.CompaniesDashboard"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>